<header class="banner">
    <div class="containerz">
        <div class="rowz">
            <div class="logo">
                <div >
                    <a routerLink="/"><img src="assets/images/OinoApostagma-Logo-06-vector-1.png" alt="logo"></a>
                </div>
                <p class="tel-number"><a href="tel:+30-211-404-2680">+30 2114042680</a></p>
            </div>
            <div class="menu">
                <div class="text"><a routerLink="/menu">Menu</a></div>
            </div>
        </div>
    </div>
</header>