<header class="banner">
    <div>
        <div class="menu-sheet" [ngClass]="{'menu-sheet-open': isMenuClicked}">
            <div class="containerz flex-column flex-grow">
                <div class="flex-grow">
                    <div class="title-container">
                        <a routerLink="/home">
                            <h1>home</h1>
                        </a>
                        <a routerLink="/menu">
                            <h1>menu</h1>
                        </a>
                        <a routerLink="/gallery">
                            <h1>gallery</h1>
                        </a>
                        <a routerLink="/about">
                            <h1>about us</h1>
                        </a>
                        <a routerLink="/contacts">
                            <h1>contacts</h1>
                        </a>
                    </div>
                </div>
                <div class="title-container tel-number-black">
                    <p>Call us</p>
                    <p><a style="color:black" href="tel:+30-211-404-2680">+30 2114042680</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="containerz">
        <div class="rowz">
            <div class="logo">
                <div [ngClass]="{'menu-logo': isMenuClicked}">
                    <a *ngIf="!isMenuClicked" routerLink="/"><img src="assets/images/OinoApostagma-Logo-06-vector-1.png"
                            alt="logo"></a>
                    <a *ngIf="isMenuClicked" routerLink="/"><img
                            src="assets/images/OinoApostagma-Logo-06-vector-1-inverted.png" alt="logo"></a>
                </div>
                <p class="tel-number"><a href="tel:+30-211-404-2680">+30 2114042680</a></p>
            </div>
            <div class="saber-grill">
                <div id="nav-container" (click)="onMenuClick()">
                    <div class="toggle-icon">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div><!-- /toggle-icon -->
                </div><!-- /nav-container -->
            </div>
        </div>
    </div>
</header>