body {
  background: #222;
  font-size: 8px !important; /*increase me to scale toogle-icon*/
  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.banner {
  background-color: #080808;
  padding-top: 14px;
  padding-bottom: 7px;

  a {
    text-decoration: none;
    color: white;
  }
}

.tel-number {
  padding-top: 9px;
  padding-left: 31px;
  color: #fff;
  opacity: 0.7;
  margin: 0;
  font-size: 10px;
  a {
    border-bottom: 1px solid white;
    color: white;
  }
}

.containerz {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .rowz {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      order: 1;
      flex-grow: 1;
    }
    //*********************************saber-grill start******************************
    .saber-grill {
      z-index: 12;
      order: 2;
      padding: 30px 0;
      font-size: 9px;
      /*toggle-icon*/
      .toggle-icon {
        display: block;
        position: relative;
        width: 100%;
        margin: -2.2em auto 0 0.2em;
        -webkit-transition: margin 600ms;
        -moz-transition: margin 600ms;
        transition: margin 600ms;
        cursor: pointer;
      }

      .toggle-icon .bar {
        display: block;
        width: 3.8em;
        height: 0.2em;
        margin: 0.9em;
        border-right: 2.8em solid #b8b7b7;
        border-left: 0.6em solid #d6d6d6;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
        -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
        transition-property: transform, margin, border-right-color, box-shadow;
        -webkit-transition-duration: 600ms;
        -moz-transition-duration: 600ms;
        transition-duration: 600ms;
      }
      .toggle-icon .bar:nth-of-type(1) {
        -webkit-transition: opacity 300ms;
        -moz-transition: opacity 300ms;
        transition: opacity 300ms;
      }
      .toggle-icon .bar:nth-of-type(2) {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }

      /*pushed*/
      .pushed .toggle-icon {
        margin: -3.2em 0 0 0;
      }

      .pushed .bar:nth-of-type(1) {
        opacity: 0;
      }

      .pushed .toggle-icon .bar:nth-of-type(2) {
        margin-left: 0.6em;
        -webkit-transform: translateY(1.2em) rotate(-500deg);
        -moz-transform: translateY(1.2em) rotate(-500deg);
        -ms-transform: translateY(1.2em) rotate(-500deg);
        -o-transform: translateY(1.2em) rotate(-500deg);
        transform: translateY(1.2em) rotate(-500deg);
      }

      .pushed .bar:nth-of-type(3) {
        margin-left: 0.5em;
        -webkit-transform: rotate(-42deg);
        -moz-transform: rotate(-42deg);
        -ms-transform: rotate(-42deg);
        -o-transform: rotate(-42deg);
        transform: rotate(-42deg);
      }

      .pushed .toggle-icon:hover .bar:nth-of-type(2) {
        border-right-color: #e9b8b9;
        box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
      }
      .pushed .toggle-icon:hover .bar:nth-of-type(3) {
        border-right-color: #ddf1da;
        box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
      }
    }
  }
}
//*********************************saber-grill end******************************
img {
  display: inline-block;
  width: 160px;
  height: 60px;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}

//***************************menu sheet start******************************

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 14px;
  opacity: 0;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  overflow-y: scroll;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 1;
  z-index: 10;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.menu-logo {
  position: relative;
  z-index: 21;
  display: unset;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-column {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.padding-top {
  padding-top: 130px;
  order: 1;
}

.title-container {
  text-align: center;
  font-family: "vag-handwritten", normal;
  order: 2;

  h1 {
    font-size: 30px;
    color: #424242;
  
  }

  h1:hover {
    color: brown;
  }
}

.tel-number-black {
  margin-bottom: 40px;
  p {
    font-size: 20px;
    color: #424242;
    margin: 0;
  }
  p a {
    color: black;
  }
}
//***************************menu sheet end******************************
