* {
  box-sizing: border-box;
}

div {
  display: block;
}

.banner {
  background-color: #080808;;
  background-image: url("../../assets/images/purty-wood.png");
  padding-top: 14px;
  padding-bottom: 30px;
  app-header a {
    color: black;
  }
}

.containerz {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .rowz {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      order: 1;
      flex-grow: 1;
    }

    .menu {
      font-family: Gochi Hand, cursive;
      font-size: 32px;
      order: 2;
      cursor: pointer;
    }
  }
}

img {
  display: inline-block;
  width: 160px;
  height: 60px;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
