<footer class="footer-info">
    <div class="containerz">
        <div class="text-center">
            <img class="logo" src="assets/images/oinologoblackcroped.jpg" alt="Oinoapostagma logo">
        </div>
        <div class="timetable row">
            <div class="col-6 col-xs-12">
                <ul class="footer-menu">
                    <li>
                        <h2 class="footer-menu"><a routerLink="/home" (click)="scrollToTop()">Αρχική</a></h2>
                    </li>
                    <li>
                        <h2 class="footer-menu"><a routerLink="/menu" (click)="scrollToTop()">Μενού Οινοαπόσταγμα</a></h2>
                    </li>
                    <li>
                        <h2 class="footer-menu"><a routerLink="/about" (click)="scrollToTop()">Λίγα για μας</a></h2>
                    </li>
                </ul>
            </div>
            <div col-6 col-xs-12>
                <div class="opening-hours col-sm">
                    <h4>Ώρες λητουργίας</h4>
                    <div class="hours">
                        <div>Δευ-Κυρ:</div>
                        <div>17:00-02:00</div>
                    </div>
                    <div class="hours">
                        <div>Τηλ: <a href="tel:+30-211-404-2680">+30 2114042680</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>