<footer class="footer-info">
    <div class="containerz">
        <div class="text-center">
            <img class="logo" src="assets/images/oinologoblackcroped.jpg" alt="Oinoapostagma logo">
        </div>
        <div class="timetable row">
            <div class="col-6 col-xs-12">
                <ul class="footer-menu">
                    <li>
                        <h2 class="footer-menu"><a routerLink="/home" (click)="scrollToTop()">Αρχική</a></h2>
                    </li>
                    <li>
                        <h2 class="footer-menu"><a routerLink="/menu" (click)="scrollToTop()">Μενού Οινοαπόσταγμα</a></h2>
                    </li>
                    <li>
                        <h2 class="footer-menu"><a routerLink="/gallery" (click)="scrollToTop()">Gallery</a></h2>
                    </li>
                    <li>
                        <h2 class="footer-menu"><a routerLink="/about" (click)="scrollToTop()">Λίγα για εμάς</a></h2>
                    </li>
                </ul>
            </div>
            <div col-6 col-xs-12>
                <div class="opening-hours col-sm">
                    <h4>Ώρες λειτουργίας</h4>
                    <div class="hours">
                        <div>Δευ-Κυρ:</div>
                        <div>19:00-02:30</div>
                    </div>
                    <h4>Κουζίνα</h4>
                    <div class="hours">
                        <div>Δευ-Κυρ:</div>
                        <div>19:00-01:00</div>
                    </div>
                    <div class="hours">
                        <div>Τηλ: <a href="tel:+30-211-404-2680">+30 2114042680</a></div>
                    </div>
                </div>
            </div>
        </div>
        <a href="assets/documents/epanekinnisiposterbEL1.pdf" target="_blank">
        <div class="col-12 col-xs-12 timetable row">
                <div class="eu-flag-container programma-common">
                    <img class="eu-flag" src="assets/images/EuFlag.jpg" alt="Eu logo">
                    <div class="text-center eu-flag-text">
                        <p class="eu-flag-text"><b>Ευρωπαϊκη Ενωση</b></p>
                        <p class="eu-flag-text">Ευρωπαϊκό Ταμείο Περιφερειακής Ανάπτυξης</p>
                    </div>
                </div>
                <div class="programma-common espa">
                    <img src="assets/images/espa.png" alt="programa logo">
                </div>
                <div class="programma-common epanek">
                    <img src="assets/images/ΕΠΑνΕΚ_vertical_rgb.jpg" alt="programa title">
                </div>
        </div>
    </a>
    </div>
</footer>