<footer class="footer-info">
    <div class="containerz">
        <div class="text-center">
            <img class="logo" src="../../assets/images/oinologoblackcroped.jpg" alt="Oinoapostagma logo">
        </div>
        <div class="timetable row">
            <div class="col-6 col-xs-12">
                <ul class="footer-menu">
                    <li>
                        <h2 class="footer-menu"><a routerLink="/">Home</a></h2>
                    <li>
                        <h2 class="footer-menu"><a routerLink="/menu">Menu Oinoapostagma</a></h2>
                    </li>
                </ul>
            </div>
            <div col-6 col-xs-12>
                <div class="opening-hours col-sm">
                    <h4>Opening hours</h4>
                    <div class="hours">
                        <div>Mon-Sun:</div>
                        <div>17:00-02:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>