.about-wrapper {
    margin-bottom: 27px;
}

.text-wrapper {
    margin: 0 16px;
}

.about-text-container {
    text-align: center;
    margin: auto;
    max-width: 500px;
    margin-bottom: 27px;
}

.title-container {
    margin-top: 27px;
    margin-bottom: 27px;
    font-family: "vag-handwritten", normal;
    text-align: center;
}

.image-wrapper {
    max-width: 800px;
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    img {
        width: 100%;
        max-width: 800px;
        max-height: 500px;
    }
}
