.about-wrapper {
    margin-bottom: 27px;
}

.about-text-wrapper {
    text-align: center;
    margin: auto;
    max-width: 500px;
    margin-bottom: 27px;
}

.title-container {
    margin-top: 27px;
    margin-bottom: 27px;
    font-family: "vag-handwritten", normal;
    text-align: center;
}

.image-wrapper {
    max-width: 800px;
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
