<div class="about-wrapper">
    <div class="text-wrapper">
        <div class="about-text-container">
            <div class="title-container">
                <h1>Καλώς ήρθατε στο Οινοαπόσταγμα</h1>
            </div>
            <p>Το Οινοαπόσταγμα γεννήθηκε χάρις την αγάπη μας για το καλό φαγητό, το ποτό και βέβαια την καλή παρέα</p>
            <p>
                Έτσι, τον Φλεβάρη του 2017 ξεκινήσαμε το γευστικό μας ταξίδι και συνεχίζουμε τις βασικές μας αρχές: Καλό
                φαγητό, καλές τιμές και καλή εξυπηρέτηση</p>
            <p> Το σύνθημα μας: <b>"Οινοαπόσταγμα ίσον παρέα!"</b> γιατί το Οινοαπόσταγμα είναι ακριβώς αυτό, μια μεγάλη παρέα!
            </p>

        </div>
    </div>
    <div class="image-wrapper">
        <img src="assets/images/inside-atmosfere.png" alt="Inside atmosfere and space">
    </div>
</div>