<div class="containerz front-sections">
    <div class="rowz bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/oinosSquare.png" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Η κάβα</h2>
                <p>
                    Θα βρείτε σε εμάς κρασί σαββατιανό, ούζα από την Λέσβο και την Χίο, τσίπουρα και μπύρες σε όλες τις
                    αποχρώσεις. Ξεχωριστή θέση στην καρδιά μας και στο ποτήρι μας, κατέχει το ρακόμελο μας και φυσικά το
                    οινόμελο, για να το πίνετε ζεστό και κρύο.
                </p>
            </div>
        </div>
    </div>
    <div class="rowz alternate bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/meatSquare.png" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Η κουζίνα μας </h2>
                <p>
                    Το Οινοαπόσταγμα κινείται με βάση την απίστευτη νοστιμιά της Ελληνικής κουζίνας, εκτελώντας
                    παραδοσιακές συνταγές με μοντέρνα στοιχεία. Τα υλικά μας είναι Ελληνικά και τηρούν τις καλύτερες
                    προδιαγραφές. Πατάτες Νάξου, φέτα από ντόπιους παραγωγούς στην Καστοριά, ελαιόλαδο Καλαμάτας και
                    πολλά άλλα υλικά από ελληνικές πόλεις για τις πιο νόστιμες γεύσεις.
                </p>
            </div>
        </div>
    </div>
    <div class="rowz bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/saganaki_meli_squared.png" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Η φαντασία</h2>
                <p>
                    Λαχταριστά και δημιουργικά πιάτα έρχονται ζεστά από την κουζίνα μας στο τραπέζι σας. Δοκιμάστε
                        ξεχωριστές δημιουργίες, όπως καταϊφάκια αλμυρά και μελί, τηγανιά κοτόπουλο με μαστίχα και χοιρινή με
                    κρασί και φυσικά, σαλάτα Οινοαπόσταγμα με αποξηραμένα σύκα.
                </p>
            </div>
        </div>
    </div>
    <div class="rowz alternate bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/salataSquare.png" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Η ποιότητα</h2>
                <p>
                    Για τα πιάτα μας διαλέγουμε τα καλύτερα υλικά. Τα υλικά μας για να μπορούν να διατηρούν την φρεσκάδα
                    τους, αγοράζονται καθημερινά από ντόπιους παραγωγούς. Η φιλοσοφία μας πάνω στο στήσιμο ενός πιάτου
                    αρχίζει και τελειώνει με τις 2 βασικές μας αρχές : ποιότητα και η φρεσκάδα της πρώτης ύλης.
                </p>
            </div>
        </div>

    </div>
</div>