<div class="containerz front-sections">
    <div class="row bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/kalamarakia.jpg" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Something</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aspernatur delectus numquam,
                    quas mollitia molestias fugiat exercitationem, tenetur dicta harum ipsum magni reprehenderit
                    voluptas velit obcaecati rerum quam laborum maxime.
                </p>
            </div>
        </div>
    </div>
    <div class="row alternate bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/rakomelo.jpg" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Something</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aspernatur delectus numquam,
                    quas mollitia molestias fugiat exercitationem, tenetur dicta harum ipsum magni reprehenderit
                    voluptas velit obcaecati rerum quam laborum maxime.
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/salata.jpg" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Something</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aspernatur delectus numquam,
                    quas mollitia molestias fugiat exercitationem, tenetur dicta harum ipsum magni reprehenderit
                    voluptas velit obcaecati rerum quam laborum maxime.
                </p>
            </div>
        </div>
    </div>
    <div class="row alternate bg-green">
        <div class="image">
            <img width="575" height="575" src="assets/images/patata.jpg" alt=""
                sizes="(max-width: 575px) 100vw, 575px">
        </div>
        <div class="text-grid text-center">
            <div class="containerz containerz-small">
                <h2 class="h2-grid">Something</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aspernatur delectus numquam,
                    quas mollitia molestias fugiat exercitationem, tenetur dicta harum ipsum magni reprehenderit
                    voluptas velit obcaecati rerum quam laborum maxime.
                </p>
            </div>
        </div>

    </div>
</div>