<div class="section">
    <div class="containerz containerz-small text-center">
        <div class="title-container title">
            <h3>Πείτε ένα γειά</h3>
            <span class="followerz">1,300+ followers</span>
        </div>
    </div>
    <!-- <div class="containerz">
        <h3 class="insta-header"></h3>
        <div id="instafeed"></div>
    </div>
    <div class="insta-grid"></div> -->
    <div class="containerz container-small text-center">
        <h5 class="insta-follow">
            <a>Ακολουθήστε μας στο</a>
        </h5>
        <div class="row">
            <div class="col-6 fb-logo">
                <a href="https://www.facebook.com/oinoapostagma/" target="blank">
                    <img src="assets/images/fblogo.png" alt="">
                </a>
            </div>
            <div class="col-6 ta-logo">
                <a href="https://www.instagram.com/oinoapostagma/" target="blank">
                    <img src="assets/images/insta.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>