* {
  box-sizing: border-box;
}

div {
  display: block;
}

.image {
  display: flex;
  position: inherit;
}

img {
  flex-grow: 1;
  width: 100%;
  height: auto;
}

.parea-tittle {
  z-index: 10;
  background-color: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}