<div class="location-and-menu">
    <div class="containerz containerz-width">
        <div class="flex-container">
            <div class="menu-link-wrapper menu-min-width col-12 col-md-6">
                <div class="containerz container-small">
                    <div class="title-container ">
                        <div class="title">
                            <h1>welcome to oinoapostagma</h1>
                        </div>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolore fugiat
                        voluptate ex
                        facere perferendis voluptates non quasi voluptatem cum sapiente, odio vero at corporis
                        iste
                        blanditiis assumenda ea itaque.</p>
                </div>
                <hr>
                <div class="menu-link">
                    <a routerLink="/menu">
                        <div class="link-wrapper">
                            <div class="menu">Our Menu</div>
                        </div>
                        <div></div>
                    </a>
                </div>
            </div>

            <div class="we-are-here menu-min-width col-12 col-md-6">
                <div class="containerz container-small">
                    <div class="title-container tittle">
                        <h2>we are here</h2>
                    </div>
                    <div class="location-container">
                        <h4>Drosia, Athens</h4>
                        <p>Solomou 15</p>
                    </div>
                    <div class="contact-container">
                        <p>
                            <a href="+30-211-404-2680">+30 2114042680</a>
                            <br>
                            <a href="">oinoapostagma@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>