.creation {
  padding: 50px 0;
  text-align: center;
  font-family: Gochi Hand, cursive;
  background-color: #080808;

  .containerz {
    max-width: 670px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
  }

  img {
    width: 100%;
    height: auto;
    border: 3px solid lightgray;
  }
}
