<div class="containerz">
    <a href="assets/documents/epanekinnisiposterbEL1.pdf" target="_blank">
        <div class="col-12 col-xs-12 timetable row">
            <div class="eu-flag-container programma-common">
                <img class="eu-flag" src="assets/images/EuFlag.jpg" alt="Eu logo">
                <div class="text-center eu-flag-text">
                    <p class="eu-flag-text"><b>Ευρωπαϊκη Ενωση</b></p>
                    <p class="eu-flag-text">Ευρωπαϊκό Ταμείο Περιφερειακής Ανάπτυξης</p>
                </div>
            </div>
            <div class="programma-common espa">
                <img src="assets/images/espa.png" alt="programa logo">
            </div>
            <div class="programma-common epanek">
                <img src="assets/images/ΕΠΑνΕΚ_vertical_rgb.jpg" alt="programa title">
            </div>
        </div>
    </a>
</div>