@import 'assets/scss/modules/stylesheet.css';

body {
    font-family: Lato,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: .8px;
    font-weight: 400;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}


::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

