<div class="containerz container-small intro">
    <div class="page-header">
        <h1 class="tittle">Καλώς ήρθατε στο Οινοαπόσταγμα</h1>
    </div>
    <p>
        Για να στήσουμε ένα πιάτο επιλέγουμε τα πιο μαλακά και ζουμερά ελληνικά κρέατα, και τα συνοδεύουμε είτε με
        πατάτες κομμένες στο χέρι και τηγανισμένες με φρέσκο ηλιέλαιο, είτε με σαλάτα με φρέσκο μαρούλι και ντομάτα
        σερβιρισμένα με ελαιόλαδο.
    </p>
</div>
<div class="allSectionsWrapper">
    <div>
        <div class="sectionTitle minus" [ngClass]="{'plus': !isKouzinaExpanded}" (click)="onSectionClick('kouzina')">
            Η κουζίνα
        </div>
        <div class="bg-green menu-wrapper" [ngClass]="{'sectionRetracted': !isKouzinaExpanded}">
            <div class="sectionz">
                <div *ngFor="let section of menuKouzina | slice:0:1; let a = index;">
                    <div class="sectionzone section ">
                        <div class="item-row-start">
                            <h4 class="h4">{{ section.sectionName }}</h4>
                            <h4 *ngIf="section.isNew" class="new newSection">New</h4>
                            <h4 *ngIf="section.isPremium" class="premium newSection">Premium</h4>
                        </div>
                        <div *ngFor="let item of section.sectionContent">
                            <div class="salads"  (click)="onItemClick(item.id)">
                                <div class="item-column-center">
                                    <h4 *ngIf="item.isNew" class="new">New</h4>
                                </div>
                                <div class="item-row-center">
                                    <h6 class="h6"
                                        [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                        {{item.name}}</h6>
                                </div>
                                <p>{{item.description}}</p>
                                <div class="price">{{item.price}}</div>
                            </div>
                            <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                [ngClass]="{'itemImageOpen salates': currentId === item.id}">
                                <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                            </div> -->
                        </div>
                    </div>
                </div>
                <div *ngFor="let section of menuKouzina | slice:1:2; let a = index;">
                    <div class="sectionzone section other mezedakia">
                        <div class="item-row-start">
                            <h4 class="h4">{{ section.sectionName }}</h4>
                            <h4 *ngIf="section.isNew" class="new newSection">New</h4>
                            <h4 *ngIf="section.isPremium" class="premium newSection">Premium</h4>
                        </div>
                        <div *ngFor="let item of section.sectionContent">
                            <div *ngIf="!item.type">
                                <div  (click)="onItemClick(item.id)">
                                    <div class="item-column item-spacer">
                                        <div class="item-row">
                                            <h4 *ngIf="item.isNew" class="new">New</h4>
                                            <h4 *ngIf="item.isPremium" class="premium">Premium</h4>
                                        </div>
                                        <div class="item-row">
                                                <h6 class="h6" [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                                    {{item.name}}
                                                </h6>
                                            <span *ngIf="item.price" class="dots"></span>
                                            <div class="price">{{item.price}}</div>
                                        </div>
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                            <div *ngIf="item.type"  (click)="onItemClick(item.id)">
                                <h6 *ngIf="item.type === 'title'" class="h6 padding"
                                    [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                    {{item.name}}</h6>
                                <div *ngIf="item.type === 'category'" class="item-row">
                                    <p class="noWrap">{{item.category}}</p>
                                    <span class="dotsCategory"></span>
                                    <div class="price priceCategory">{{item.price}}</div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionz">
                <div *ngFor="let section of menuKouzina | slice:2:7; let a = index;">
                    <div class="sectionzone section other tigani">
                        <div class="item-row-start">
                            <h4 class="h4">{{ section.sectionName }}</h4>
                            <h4 *ngIf="section.isNew" class="new newSection">New</h4>
                            <h4 *ngIf="section.isPremium" class="premium newSection">Premium</h4>
                        </div>
                        <div *ngFor="let item of section.sectionContent; let i = index" class="item-wrapper">
                            <div *ngIf="!item.type">
                                <div  (click)="onItemClick(item.id)">
                                    <div class="item-column item-spacer">
                                        <div class="item-row">
                                            <h4 *ngIf="item.isNew" class="new">New</h4>
                                            <h4 *ngIf="item.isPremium" class="premium">Premium</h4>
                                        </div>
                                        <div class="item-row">
                                                <h6 class="h6" [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                                    {{item.name}}
                                                </h6>
                                            <span *ngIf="item.price" class="dots"></span>
                                            <div class="price">{{item.price}}</div>
                                        </div>
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                            <div *ngIf="item.type"  (click)="onItemClick(item.id)">
                                <h6 *ngIf="item.type === 'title'" class="h6 padding"
                                    [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                    {{item.name}}</h6>
                                <div *ngIf="item.type === 'category'" class="item-row">
                                    <p class="noWrap">{{item.category}}</p>
                                    <span class="dotsCategory"></span>
                                    <div class="price priceCategory">{{item.price}}</div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="sectionTitle kava minus" [ngClass]="{'plus': !isKavaExpanded}" (click)="onSectionClick('kava')">
            Η κάβα
        </div>
        <div class="bg-green menu-wrapper" [ngClass]="{'sectionRetracted': !isKavaExpanded}">
            <div class="sectionz">
                <div *ngFor="let section of menuKava | slice:0:3; let a = index;">
                    <div class="sectionzone section other mezedakia">
                        <div class="item-row-start">
                            <h4 class="h4">{{ section.sectionName }}</h4>
                            <h4 *ngIf="section.isNew" class="new newSection">New</h4>
                            <h4 *ngIf="section.isPremium" class="premium newSection">Premium</h4>
                        </div>
                        <div *ngFor="let item of section.sectionContent; let i = index">
                            <div *ngIf="!item.type">
                                <div  (click)="onItemClick(item.id)">
                                    <div class="item-column item-spacer">
                                        <div class="item-row">
                                            <h4 *ngIf="item.isNew" class="new">New</h4>
                                            <h4 *ngIf="item.isPremium" class="premium">Premium</h4>
                                        </div>
                                        <div class="item-row">
                                                <h6 class="h6" [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                                    {{item.name}}
                                                </h6>
                                            <span *ngIf="item.price" class="dots"></span>
                                            <div class="price">{{item.price}}</div>
                                        </div>
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                            <div *ngIf="item.type"  (click)="onItemClick(item.id)">
                                <h6 *ngIf="item.type === 'title'" class="h6 padding"
                                    [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                    {{item.name}}</h6>
                                <div *ngIf="item.type === 'category'" class="item-row">
                                    <p class="noWrap">{{item.category}}</p>
                                    <span class="dotsCategory"></span>
                                    <div class="price priceCategory">{{item.price}}</div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionz">
                <div *ngFor="let section of menuKava | slice:3:7; let a = index;">
                    <div class="sectionzone section other tigani">
                        <div class="item-row-start">
                            <h4 class="h4">{{ section.sectionName }}</h4>
                            <h4 *ngIf="section.isNew" class="new newSection">New</h4>
                            <h4 *ngIf="section.isPremium" class="premium newSection">Premium</h4>
                        </div>
                        <div *ngFor="let item of section.sectionContent">
                            <div *ngIf="!item.type">
                                <div  (click)="onItemClick(item.id)">
                                    <div class="item-column item-spacer">
                                        <div class="item-row">
                                            <h4 *ngIf="item.isNew" class="new">New</h4>
                                            <h4 *ngIf="item.isPremium" class="premium">Premium</h4>
                                        </div>
                                        <div class="item-row">
                                                <h6 class="h6" [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                                    {{item.name}}
                                                </h6>
                                            <span *ngIf="item.price" class="dots"></span>
                                            <div class="price">{{item.price}}</div>
                                        </div>
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                            <div *ngIf="item.type" (click)="onItemClick(item.id)">
                                <h6 *ngIf="item.type === 'title'" class="h6 padding"
                                    [ngClass]="{'h6BeforeActive': currentId === item.id}">
                                    {{item.name}}</h6>
                                <div *ngIf="item.type === 'category'" class="item-row">
                                    <p class="noWrap">{{item.category}}</p>
                                    <span class="dotsCategory"></span>
                                    <div class="price priceCategory">{{item.price}}</div>
                                </div>
                                <!-- <div *ngIf="item.image" id={{item.id}} class="itemImage"
                                    [ngClass]="{'itemImageOpen': currentId === item.id}">
                                    <img src="{{item.image.imageURL}}" alt="{{item.image.imageDescription}}">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-green menu-wrapper wifyAndDisclaimer">
        <div class="sectionz sectionzone section other disclaimer">
            <div>WIFI: oinoapostagma</div>
            <div class="paddingTop">Η κουζίνα μας κλείνει στις 01:30</div>
        </div>
        <div class="sectionz sectionzone section other disclaimer">
            <div>Ο καταναλωτής δεν εχει υποχρέωση
                να πληρώσει εάν δεν λάβει το νόμιμο παραστατικό στοιχείο
                ( απόδειξη ή τιμολόγιο )
            </div>
            <div class="paddingTop">Υπεύθυνος καταστήματος: Τόρης Ευθύμιος</div>
        </div>
    </div>
</div>

<app-map></app-map>