.pageWrapper {
  margin-top: -135px;
  background: url(../../assets/images/woodPattern.jpg) no-repeat center center fixed, linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.intro {
  padding-top: 135px;
  text-align: center;
  margin-top: 30px;
}

.containerz {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  margin-bottom: 27px;
  font-family: Gochi Hand, cursive;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.4px;
  color: #424242;
  text-transform: uppercase;
  margin: 0;
}

.bg-green {
  background-color: #e4f1de;
}

.other {
  padding-bottom: 0;
}

.section {
  padding: 0 22px 22px;
  border-top: 38px solid #fff;
}

.section .h4 {
  margin-right: 6px;
  background: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #fff;
  padding: 6px 10px;
  text-transform: uppercase;
  display: inline-block;
  margin: 13px 0;
}

.h6 {
  font-family: Gochi Hand, cursive;
  margin-right: 6px;
  font-size: 16px;
  letter-spacing: 0.1px;
  white-space: nowrap;
  margin: 0;
}

.dots:before {
  content: "....................................................................................................................................................................................................................................";
  letter-spacing: 0.1px;
  color: #cecece;
  white-space: nowrap;
}

.dots {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  top: -4px;
}

.price {
  margin-left: 6px;
  font-size: 15px;
  font-weight: 700;
  white-space: wrap;
  letter-spacing: 0.3px;
  color: #424242;
  margin-bottom: 1px;
}

.salads {
  text-align: center;
  margin: 0 auto 30px;
  opacity: 1;
}

p {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #424242;
  margin-bottom: 12px;
}

.tigani p, .mezedakia p {
  margin-top: -7px;
}

.salads p {
  margin-bottom: 5px;
}
// p {
//   font-size: 16px;
//   line-height: 1.33;
//   letter-spacing: 0.8px;
//   color: rgba(0, 0, 0, 0.4);
// }

@media (min-width: 576px) {
  .containerz {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .containerz {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .containerz {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .containerz {
    max-width: 1140px;
  }
}
.container-small {
  max-width: 438px;
}

@media (min-width: 768px) {
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .sectionz {
    width: 33.33%;
  }
}

@media (min-width: 768px) {
  .sectionzone {
    border-top: none;
  }
}

.item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
