<div class="containerz container-small intro">
    <div class="page-header">
        <h1 class="tittle">Welcome to Oinoapostagma</h1>
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestiae atque accusamus. Excepturi quisquam
        quis ut, quia sint aliquam dolor ducimus aut laboriosam officia reprehenderit vero totam cumque similique at.
    </p>
</div>
<div>
    <div class="bg-green menu-wrapper">
        <div class="sectionz">
            <div *ngFor="let section of menu">
                <div *ngIf="section.sectionName === 'Σαλατες'" class="sectionzone section ">
                    <h4 class="h4">{{ section.sectionName }}</h4>
                    <div *ngFor="let item of section.sectionContent">
                        <div class="salads">
                            <h6 class="h6">{{item.name}}</h6>
                            <p>{{item.description}}</p>
                            <div class="price">{{item.price}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let section of menu">
                <div *ngIf="section.sectionName === 'Μεζεδακια'" class="sectionzone section other mezedakia">
                    <h4 class="h4">{{ section.sectionName }}</h4>
                    <div *ngFor="let item of section.sectionContent">
                        <div class="item-row">
                            <h6 class="h6">{{item.name}}</h6>
                            <span class="dots"></span>
                            <div class="price">{{item.price}}</div>
                        </div>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sectionz">
            <div *ngFor="let section of menu">
                <div *ngIf="section.sectionName !== 'Σαλατες' && section.sectionName !== 'Μεζεδακια'"
                    class="sectionzone section other tigani">
                    <h4 class="h4">{{section.sectionName}}</h4>
                    <div *ngFor="let item of section.sectionContent">
                        <div class="item-row">
                            <h6 class="h6">{{item.name}}</h6>
                            <span class="dots"></span>
                            <div class="price">{{item.price}}</div>
                        </div>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-map></app-map>

<!-- <div class="salads">
                    <h6 class="h6">Σαλάτα του Καίσαρα</h6>
                    <p>μαρούλι, κοτόπουλο, παρμεζάνα, καλαμπόκι, κρουτόν και μπέικον</p>
                    <div class="price">7.80</div>
                </div>
                <div class="salads">
                    <h6 class="h6">Ντακάκια</h6>
                    <p>παξιμαδάκια, ντομάτα, φέτα, κάπαρη και ελιές</p>
                    <div class="price">5.50</div>
                </div>
                <div class="salads">
                    <h6 class="h6">Χωριάτικη</h6>
                    <p>ντομάτα, αγγούρι, κρεμμύδι, πιππεριές, φέτα και ελιές</p>
                    <div class="price">5.50</div>
                </div> -->

<!-- <div class="item-row">
    <h6 class="h6">Σαγανάκι κεφαλοτύρι</h6>
    <span class="dots"></span>
    <div class="price">4.80</div>
</div>
<div class="item-row">
    <h6 class="h6">Τυροκαυτερή</h6>
    <span class="dots"></span>
    <div class="price">3.50</div>
</div>
<div class="item-row">
    <h6 class="h6">Καγιάνας</h6>
    <span class="dots"></span>
    <div class="price">4.50</div>
</div>
<div class="item-row">
    <h6 class="h6">Τηγανόψωμο</h6>
    <span class="dots"></span>
    <div class="price">6.00</div>
</div>
<div class="item-row">
    <h6 class="h6">Πατάτες τηγανιτές</h6>
    <span class="dots"></span>
    <div class="price">3.20</div>
</div>

<div class="item-row">
    <h6 class="h6">Πατάτες</h6>
    <span class="dots"></span>
    <div class="price">5.50</div>
</div>
<p>Με λιωμένο τυρί και μπέικον</p>

<div class="item-row">
    <h6 class="h6">Πατάτα γεμιστή</h6>
    <span class="dots"></span>
    <div class="price">5.80</div>
</div>
<p>Mε τυρί, στο αλουμινόχαρτο</p>

<div class="item-row">
    <h6 class="h6">Μανιτάρια πόρτομπελο</h6>
    <span class="dots"></span>
    <div class="price">6.00</div>
</div>
<p>Γεμιστά με τυρί</p>

<div class="item-row">
    <h6 class="h6">Καρβελάκι γεμιστό</h6>
    <span class="dots"></span>
    <div class="price">7.50</div>
</div>
<p>Με μοσχαρίσιο κρέας</p> -->

<!-- <div class="item-row">
    <h6 class="h6">Τηγανία χοιρινή</h6>
    <span class="dots"></span>
    <div class="price">7.00</div>
</div>
<p>Σβησμένη με κρασί</p>

<div class="item-row">
    <h6 class="h6">Ντοματοκεφτέδες</h6>
    <span class="dots"></span>
    <div class="price">5.20</div>
</div>
<p></p>

<div class="item-row">
    <h6 class="h6">Κολοκυθοκεφτέδες</h6>
    <span class="dots"></span>
    <div class="price">5.20</div>
</div>
<p></p>

<div class="item-row">
    <h6 class="h6">Κεφτεδάκια</h6>
    <span class="dots"></span>
    <div class="price">6.50</div>
</div>
<p>Με ούζο και σος γιαουρτιού</p>

<div class="item-row">
    <h6 class="h6">Μανιτάρια πλευρότους</h6>
    <span class="dots"></span>
    <div class="price">6.50</div>
</div>
<p>Στην σχάρα</p>

<div class="item-row">
    <h6 class="h6">Αυγά με πατάτες</h6>
    <span class="dots"></span>
    <div class="price">5.50</div>
</div>
<p></p>

<div class="item-row">
    <h6 class="h6">Φέτα στο τηγάνι</h6>
    <span class="dots"></span>
    <div class="price">5.50</div>
</div>
<p>Με μέλι και σουσάμι</p>
</div>
<div class="sectionzone section other tigani">
<h4 class="h4">Τηγανι</h4>
<div class="item-row">
    <h6 class="h6">Τηγανιά κοτόπουλο αλα κρέμ</h6>
    <span class="dots"></span>
    <div class="price">6.50</div>
</div>
<p></p>

<div class="item-row">
    <h6 class="h6">Τηγανία χοιρινή</h6>
    <span class="dots"></span>
    <div class="price">7.00</div>
</div>
<p>Σβησμένη με κρασί</p>

<div class="item-row">
    <h6 class="h6">Ντοματοκεφτέδες</h6>
    <span class="dots"></span>
    <div class="price">5.20</div>
</div>
<p></p>

<div class="item-row">
    <h6 class="h6">Κολοκυθοκεφτέδες</h6>
    <span class="dots"></span>
    <div class="price">5.20</div>
</div>
<p></p>

<div class="item-row">
    <h6 class="h6">Κεφτεδάκια</h6>
    <span class="dots"></span>
    <div class="price">6.50</div>
</div>
<p>Με ούζο και σοσ γιαουρτιού</p>

<div class="item-row">
    <h6 class="h6">Αυγά με πατάτες</h6>
    <span class="dots"></span>
    <div class="price">5.50</div>
</div>
<p></p>

<div class="item-row">
    <h6 class="h6">Φέτα στο τηγάνι</h6>
    <span class="dots"></span>
    <div class="price">5.50</div>
</div>
<p>Με μέλι και σουσάμι</p> -->